<app-header></app-header>

<a id="haut_page"> </a>
<div>
  <div>
    <div class="containeur" id="homme">
      <h2>Les Humains</h2>
      <p>
        Bien que leur espérance de vie soit la plus courte parmi les races, les
        Hommes sont destinés à régner sur la Terre du Milieu lorsque le
        Troisième Âge s’éteindra. Leur mortalité, considérée comme un don
        unique, était il y a longtemps connue comme le Fléau des Hommes, une
        source de lamentation. On compte de nombreuses peuplades : Les Dúnedain
        du nord, les Maître des Chevaux sur les grasses plaines du Rohan, les
        fiers soldats du Gondor et les mystérieux Haradrim, loin dans l’Est. Les
        Hommes sont capables d’un grand courage, mais se laissent facilement
        prendre par l’ambition, la tromperie et la trahison. Connus uniquement
        sous le nom de Grandes Gens par les Hobbits de La Comté, les Hommes sont
        d'une constitution robuste, large et sont également puissants.
      </p>
    </div>
    <div class="containeur" id="elf">
      <h2>Les Elfes</h2>
      <p>
        Grands et forts, justes et gracieux, les Elfes ont les sens aiguisés,
        ainsi qu’une forte affinité avec la beauté de la nature qui les entoure.
        Jadis, les actions et les tourments de la noble race des Elfes se sont
        entremêlés avec l’histoire de la Terre du Milieu. La marche des armées
        des ténèbres sur le monde est un fait très bien connu de tous les Elfes,
        une menace qui plane à nouveau. Il y a bien longtemps, les Elfes ont
        accueilli les races plus « jeunes » de la Terre du Milieu et sont
        devenus leurs alliés en des temps de grand besoin, mais des siècles de
        guerres, de trahison et de rancœur les ont rendus farouches et
        protecteurs de leur isolement. Aujourd’hui, alors que le Troisième Âge
        touche à sa fin, et que la Guerre de l’Anneau se profile, de nouveau,
        les Elfes quittent leur retraite que constituent leurs royaumes de la
        forêt et leurs vallées secrètes, et s’allient avec les Peuples Libres de
        la Terre du Milieu.
      </p>
    </div>
    <div class="containeur" id="nain">
      <h2>Les Nains</h2>
      <p>
        Les robustes Nains de la Terre du Milieu ont une détermination à toute
        épreuve, de la force à en revendre, ainsi qu'une prédisposition
        naturelle pour aller explorer les lieux les plus profondément enfouis du
        monde. Toujours mystérieux, déterminés et fiers, les Nains s’aventurent
        souvent dans les halls immenses et majestueux qu’abritent les sous-sols
        d’Ered Luin, les Montagnes Bleues, une terre peuplée d’histoire et de
        beauté, non loin des rives occidentales de la Terre du Milieu. Les Nains
        raffolent du combat et se tiennent toujours prêts à se battre pour les
        Peuples Libres contre la menace venue de l’Est. Ce sont également des
        mineurs experts et des artisans de la pierre et du métal hors pair,
        capables de créer avec force et renom, tout en ajoutant beauté et
        complexité à leur ouvrage.
      </p>
    </div>
    <div class="containeur" id="orc">
      <h2>Les Orques</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti nemo
        corporis iure adipisci molestiae voluptatem, a excepturi beatae
        asperiores eveniet sed quaerat quasi repudiandae, labore, quos inventore
        id hic quod placeat vitae quibusdam dolorum magni ut. Nihil quaerat
        impedit optio libero laboriosam debitis nostrum aliquam reiciendis! Et
        dolorum dolor aspernatur.
      </p>
    </div>
    <div class="containeur" id="uruk">
      <h2>Les humains</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti nemo
        corporis iure adipisci molestiae voluptatem, a excepturi beatae
        asperiores eveniet sed quaerat quasi repudiandae, labore, quos inventore
        id hic quod placeat vitae quibusdam dolorum magni ut. Nihil quaerat
        impedit optio libero laboriosam debitis nostrum aliquam reiciendis! Et
        dolorum dolor aspernatur.
      </p>
    </div>
    <div class="containeur" id="gobelin">
      <h2>Les humains</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Deleniti nemo
        corporis iure adipisci molestiae voluptatem, a excepturi beatae
        asperiores eveniet sed quaerat quasi repudiandae, labore, quos inventore
        id hic quod placeat vitae quibusdam dolorum magni ut. Nihil quaerat
        impedit optio libero laboriosam debitis nostrum aliquam reiciendis! Et
        dolorum dolor aspernatur.
      </p>
    </div>

    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="assets/images/images_home/elf.jpg " class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="assets/images/images_home/ent.jpg " class="d-block w-100" alt="..." />
        </div>
        <div class="carousel-item">
          <img src="assets/images/images_home/nain.jpg " class="d-block w-100" alt="..." />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

<app-footer></app-footer>
